<app-popup></app-popup>
<app-header></app-header>

<div class="flex flex-wrap gap-6 justify-center mb-8">
  <!-- Device List -->
  <div class="flex-1 min-w-[300px] p-4 bg-white rounded-lg shadow-md">
    <app-device-list></app-device-list>
  </div>

  <!-- Device History -->
  <div class="flex-1 min-w-[300px] p-4 bg-white rounded-lg shadow-md">
    <app-device-history></app-device-history>
  </div>

  <!-- Energy Analysis -->
  <div class="flex-1 min-w-[300px] p-4 bg-white rounded-lg shadow-md">
    <app-energy-analysis></app-energy-analysis>
  </div>
</div>
<app-footer></app-footer>
